*{
body{
    color: #c9850f;
    background: white;
    font-family: 'Courier New', Courier, monospace;

}
header{
background-color: red;
display: flex;
flex-direction: row;
justify-content: space-between;


}

table{

    width: 100%;
    border-collapse: collapse;
}
header > nav{
}
header>nav>ul{
}

h1{
    font-size: 2em;
    small{
        font-size: 0.75em;

    }
}
}